/*Navbar*/
.navbar {
    --navbar-background-color: #eceef0;
    --navbar-text-color: #1d1d1d;
    --navbar-text-hover: #4682b4;

    --navbar-modern-family: "Comfortaa", Verdana, sans-serif;


    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 30px;

    background-color: var(--navbar-background-color);
    font-family: var(--navbar-modern-family);
}

.navbar[theme-color = light-yellow] {
    --navbar-text-hover: #fe9e27;
}

.navbar[theme-color = black] {
    --navbar-background-color: #000000;
    --navbar-text-color: #f5f9fc;
    --navbar-text-hover: #4682b4;
}

.navbar[theme-color = black-yellow] {
    --navbar-background-color: #000000;
    --navbar-text-color: #f5f9fc;
    --navbar-text-hover: #fe9e27;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.navbar .logo .link .logo-img {
    width: 50px;
}

.navbar .container .nav-tags {
    display: flex;
    margin: 0;

    list-style: none;
    padding: 0;
}

.navbar .container .nav-tags .item {
    margin-left: 20px;
}

.navbar .container .nav-tags .item .link {
    text-decoration: none;
    color: var(--navbar-text-color);

    transition: all 0.1s ease;
}

.navbar .container .nav-tags .item .link:hover {
    color: var(--navbar-text-hover);
}

.searchbox {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #1d1d1d;
    height: 25px;
    width: 75%;
    border-radius: 40px;
    padding: 5px 5px 4px 5px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 12pt;
    color: #f4f4f4;
    line-height: 20px;
    width: 100%;
    padding: 0 4px 0 5px;
    transition: 0.2s;
}

.search-btn {
    text-align: center;
    color: #1d1d1d;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responsiveness*/
@media (max-width: 790px) {
    .navbar .logo {
        width: 47%;
    }
}
@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 5px;
    }

    .navbar .logo {
        width: 90%;
    }

    .navbar .container {
        width: 100%;
    }

    .navbar .container .nav-tags {
        margin: 2px 0 5px 0;

        justify-content: space-around;
    }

    .navbar .container .nav-tags .item {
        margin-left: 0;
    }
}