@media (max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 5px;
    }

    .navbar .navbar-container {
        width: 100%;
    }

    .navbar .navbar-nav {
        margin: 2px 0 5px 0;

        justify-content: space-around;
    }

    .navbar .navbar-nav .nav-item {
        margin-left: 0;
    }

    .banner-carousel {
        height: 80vh;
    
        padding: 0 10px;
    }
    
    .banner-container {
        width: 85%;
    }
    
    .banner-about {
        margin-top: 2vh;
    }

    .banner-about .banner-title, .banner-about .banner-singer {
        height: 55px;
    }
    
    .banner-about .banner-title h2 {
        font-size: 30pt;
    }
    
    .banner-about .banner-singer p {
        font-size: 20pt;
    }

    .banner-extras {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .music-tags {
        justify-content: space-between;
        width: 100%;
    }
    
    .music-tags .tag-item {
        margin: 10px 0 0 0;
    }
    
    .tablet-button {
        display: none;
    }
    
    .banner-button {
        padding: 10px;
        border-radius: 5px 50px 50px 5px;
    
        font-size: 18pt;
    }

    .carousel-musics {
        margin: 50px 0;
    }

    .music-items-title {
        margin-left: 10px;
        line-height: 0.1;
        font-size: 14pt;
    }

    .music-container .music-items {
        margin: 0;
    }
    
    .music-container .music-items .item {
        margin-right: 10px;
    }

    .music-container .music-items .item:first-child {
        margin-left: 10px;
    }
    
    .music-container .music-items .item img {
        width: 226px;
        height: 127px;
    
        object-fit: cover;
        object-position: center;
    }

    .music-container .music-items .item h3 {
        font-size: 11pt;
    }

    .music-container .music-items .item p {
        font-size: 10pt;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer div ul {
        text-align: left;
    }
}

@media (max-width: 414px) {
    .banner-container {
        width: 100%;
    }

    .banner-about .banner-title, .banner-about .banner-singer {
        height: 95px;
    }

    .button-control {
        display: none;
    }
}