/*Main Settings*/
body {
    background-color: #1d1d1d;

    font-family: "Comfortaa", Verdana, sans-serif;
    color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}

ul {
    list-style: none;
    padding: 0;
}

/*Navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 30px;

    background-color: #000000;
}

.navbar .logo img {
    width: 50px;
}

.navbar .navbar-nav {
    display: flex;
    margin: 0;
}

.navbar .navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    transition: all 0.1s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #4682b4;
}

/*Banner Carousel*/

.banner-carousel {
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    background-image: url("../img/banner01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.banner-container {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-about {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.banner-about .banner-title, .banner-about .banner-singer {
    height: 90px;
}

.banner-about .banner-title h2 {
    font-size: 50pt;
    font-weight: 900;
}

.banner-about .banner-singer p {
    font-size: 30pt;

    color: #4682b4;
}

.banner-extras {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1vh;
}

.music-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.music-tags .tag-item {
    margin-left: 10px;

    transition: all 0.2s ease;

    cursor: pointer;
}

.music-tags .tag-item:hover {
    color: #4683b4;
}

.button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;

    font-family: "Roboto", Arial;
    font-size: 14pt;
}

.button-control {
    font-size: 40pt;
    min-width: 33px;
}

.button-control:hover {
    color: #4683b4;
}

.banner-button {
    padding: 15px;
    border-radius: 5px 50px 50px 5px;

    display: flex;
    align-items: center;

    font-size: 24pt;

    background-color: #4683b4;

    transition: all 0.2s ease;
}

.banner-button:hover {
    background-color: #f1f1f1;
    color: #4683b4;
}

.banner-button a {
    display: flex;
    align-items: center;
}

.banner-button a:hover {
    color: #4683b4;
}

.banner-button a i {
    font-size: 31pt;
    margin-left: 10px;
}

.carousel-musics {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
}

.music-container {
    display: flex;
}

.music-items-title {
    margin-left: 53px;
    line-height: 0.1;
}

.music-container .music-items {
    display: flex;

    margin: 0 20px;
    width: 100%;

    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.music-container .music-items::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.music-container .music-items .item {
    margin-right: 20px;
    cursor: pointer;
}

.music-container .music-items .item img {
    width: 279px;
    height: 157px;

    object-fit: cover;
    object-position: center;
}

.music-items .item div {
    line-height: 0.3;
}

.music-items .item div p {
    color: #6D6D6D;
}

footer {
    padding: 0;
    margin: 0 auto;
    border: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: start;

    background: #4682b4;
    color: #f4f4f4;
}

footer .footer-text {
    margin: 18px;

    color: #f4f4f4;
    font-family: "Comfortaa", Verdana;
}

footer h5 {
    margin-bottom: 0;

    font-size: 15pt;
}

footer h6 {
    font-size: 10pt;
}

footer div details {
    margin: 5px 0 10px 0;
    cursor: pointer;
}

footer div summary {
    font-size: 15pt;
    outline: none;
}

footer div ul {
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

footer div ul li {
    list-style-type: none;
    color: #2d587b;
}

footer div a {
    font-size: 11pt;
    text-decoration: none;
    color: #f4f4f4;
}

/*Animations*/
.rotate {
    animation-name: rotateAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}

@keyframes rotateAnimation {
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}